@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}